@font-face {
    font-family: 'Oxanium';
    src: url('/fonts/Oxanium/Oxanium-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend-Peta';
    src: url('/fonts/Lexend_Peta/LexendPeta-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Passero-One';
    src: url('/fonts/Passero_One/PasseroOne-Regular.ttf') format('truetype');
}